*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
   
}
.main
{
    width: 100%;
}
.line{
    width:100vw ;
    height: 5px;
    background-color: rgb(0, 153, 153);
}
.nav{
    width: 100vw;
    height: 100px;
    box-shadow: 2px 2px 2px 2px rgb(219, 219, 219);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    
}
.left h1{
    font-weight: 400;
}
.left p{
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    
}
.right a{
    margin-left: 15px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
.section1{
    width: 100vw;
    height: 50vh;
    /* background-color: red; */
    display: flex;
    margin-top: 7%;
    justify-content: space-evenly;
    
  
}

.left1 img{
    object-fit: cover;
    
}
.right1{
    width: 40%;
    height: 40%;
    margin-top: 3%;
}
.right1 h1{
    font-size: 50px;
    font-weight: 200;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.right1 p{
    margin-top: 2%;
}
.right1 button{
    margin-top: 5%;
    padding: 8px;
    background-color: black;
    border:none;
    border-radius: 5px;

}
.circle{
    display: flex;
    
    justify-content: end;
   
    
}
.smallcircle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    margin-left: 5px;
}
.section2{
    width: 100%;
    height: 40%;
    display: flex;
    padding: 5% 5% 5%;
}
.card{
    width: 30%;
    height: 80%;
    margin-left: 5%;
    

}
.card h4{
    font-size: 25px;
}
.card img{
    width: 80%;
    height: 50%;
}
.card p{
    font-size: 14px;
    width: 80%;
    margin-top: 10px;
   color: gray;
}
.card button{
    padding: 1.5%;
    background-color: rgb(136, 133, 133);
    border: none;
    color: white;
    border-radius: 5px;
    width: 20%;
    

}
.firsttext{
    width: 100%;
    height: 50%;
}
.textt{
    width: 80%;
    height: 20%;
    margin-left: 10%;
    align-items: center;
    margin-top: 5%;
    
}
.firsttext h4{
    text-align: center;
    color: grey;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.cards1{
    margin-top: 5%;
    display: flex;
    
}
.images img{
    width: 150px;
    height: 150px;
    
}
.text5{
    width: 200px;
    height: 200px;
    margin-left: 2%;
}
.text5 p{
    font-size: 13px;
    color: gray;
}
.text5 button{
    margin-top: 8px;
    background-color:rgb(143, 141, 141);
    color: white;
    border: none;
    padding: 1%;
    border-radius: 3px;
}
.cardflex{
    width: 100%;
    flex-wrap: wrap;
}
.footer{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    padding: 4%;
    background-color: rgb(29, 29, 29);
}
.footer h3{
    font-size: 20px;
    color: rgb(255, 255, 255);
  
}
.contact p{
    color: white;
    font-size: 12px;
    /* line-height: 2; */
    margin-top: 20px;
}
.quicklink p {
    text-decoration: none;
    margin-top: 20px;
}
.quicklink p a{
    text-decoration: none;
   
}
.fromtheblog p{
    color: white;
    margin-top: 20px;
    font-size: 12px;
}

.text1{
    padding: 5%;
    background-color: rgb(20,20,20);
    border: none;
    color: white;
    margin-top: 20px;
}
.text2{
    padding: 5%;
    background-color: rgb(20,20,20);
    color: white;
    border: none;
    margin-top: 20px;
}
.newsletter button {
 width: 50%;
 height: 15%;
 margin-top: 20px;
 background-color: rgb(32, 202, 245);
 border: none;
 color: white;
 border-radius: 5px;
}

